.about-us {
  @include parent();
  flex-wrap: wrap;
  @media (min-width: $width-min) {
    margin-right: 1rem;
  }
}

.about-us__item {
  @include size();
  background-color: #e8ebed;
  &--conformism {
    flex: 1 0 100%;
  }
  @media (min-width: $width-min) {
    min-height: 200px;
    height: 200px;
  }
}
