.features {
  @include parent();
  flex-wrap: wrap;
  order: 20;
}
.features__item {
  @include size();
  background-color: #ffaa87;
  &--however {
    flex: 1 0 100%;
  }
  &--vector {
    background-color: #c7abd4;
  }
  &--genius {
    background-color: #f55e62;
  }
}
