.info {
  @include parent();
  @media (min-width: $width-min) {
    flex-direction: column;
  }
}
.info__item {
  @include size();
  background-color: #90bce8;
  &:last-child {
    background: #febf26;
  }
  @media (min-width: $width-min) {
    width: 100%;
    min-height: 200px;
    height: 200px;
  }
}
