@mixin parent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@mixin size {
  flex-basis: calc(50% - 5px);
  min-height: 155px;
  height: 155px;
  max-height: 155px;
  margin-bottom: 10px;
  overflow: auto;
  @media (min-width: $width-min) {
    flex-basis: 32.4%;
  }
}
