@import "vars";
@import "mixins";
@import "blocks/tile";
@import "blocks/square";
@import "page/layout";
@import "page/page-header";
@import "page/page-main";
@import "page/page-footer";
@import "page/indent";
@import "page/content-wrapper";

html {
  font-family: $default-font;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  color: $text;
}

body {
  margin: 0;
}

*, *:before, *:after, a {
  box-sizing: inherit;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul {
	margin-bottom: 0;
}

li {
	text-decoration: none;
	list-style: none;
}

img {
	width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $default-font; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}


